@charset "utf-8";
/* CSS Document */
.box {
	height: 390px;
}
* {
	margin: 0;
	padding: 0;
}
*, *:before, *:after {
	box-sizing:border-box;
}
.clearfix:before, .clearfix:after {
	display: table;
	content: " ";
}
.clearfix:after {
	clear: both;
}
a, a:hover {
	text-decoration: none;
}
ul, ol, li {
	list-style: none;
	margin: 0;
	padding: 0;
}
img {
	border: none;
}
body {
	overflow-x: hidden;
	font-family: 'RobotoReg';
	margin: 0;
	padding: 0;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
html {
	overflow-y: auto;
	overflow: -moz-scrollbars-vertical;
	-webkit-tap-highlight-color: transparent;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
#main_wrapper {
	width: auto;
    height: auto;
    position: relative;
    overflow-y: auto;
}
.section {
	width: 100%;
	height: auto;
	padding: 60px 8%;
	position: relative;
}
.section-t {
    padding: 0px 15%;
}
.section-r {
    padding: 60px 15% 30px;
}
.section-l {
	padding: 40px 8%;
	position: relative;
}
.section-q {
    padding: 30px 15% 60px;
}
.no_pad {
	padding-top: 0;
}
.inner_wrap {
	width: 100%;
	height: auto;
	display: block;
}
.grey_sec {
	background-color: #f6f6f6;
}
.hm_pg_wrap {
	width: 100%;
    height: 100vh;
    position: relative;
}
.pg_wrap {
	width: 100%;
    height: 100vh;
    position: relative;
}

/* HEADER */
.header {
	width: 100%;
	height: auto;
	display: block;
	padding: 25px 8%;
	position: absolute;
	z-index: 999;
	left: 0;
	top: 0;
}
.header .hdr {
    width: auto;
    height: 65px;
    position: relative;
}
.header .hdr .b_logo {
    width: auto;
    height: 65px;
    float: left;
}
.header .hdr .b_logo img {
    width: auto;
    height: 65px;
}
.header .hdr .menu {
    width: auto;
	position: absolute;
	transform: translateY(-50%);
	top: 50%;
    right: 0;
}
.header .hdr .menu ul {
    width: auto;
    display: block;
    height: auto;
}
.header .hdr .menu ul li {
    width: auto;
	height: inherit;
	display: inline-block;
	transition: all 0.4s ease;
	position: relative;
}
.header .hdr .menu ul li:nth-child(n+2) {
	margin-left: 15px;
}
.header .hdr .menu ul li:last-child {
	border: 1px solid #fff;
}
.header .hdr .menu ul li:last-child:before {
	content: "";
	width: 0;
	opacity: 0.8;
	transition: all 0.4s ease;
	background-color: #dc2d30;
	position: absolute;
	z-index: 1;
	bottom: 0;
	left: 0;
	top: 0;
}
.header .hdr .menu ul li:last-child:hover:before {
	width: 100%;
}
.header .hdr .menu ul li:last-child:hover a {
	color: #fff;
}
.header .hdr .menu ul li a {
	color: #fff;
	display: block;
	padding: 10px 15px;
	letter-spacing: 0.6px;
	font-family: 'RobotoReg';
	text-transform: uppercase;
	transition: all 0.6s ease;
	position: relative;
	font-size: 17px;
	z-index: 3;
}
.header .hdr .menu ul li:hover a,
.header .hdr .menu ul li.active a {
	color: #dc2d30;
}


/*BANNER*/
.banner {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 0;
}
.banner video {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	left: 0;
	top: 0;
}
.banner .overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	background: rgba(0, 0, 0, 0.4);
	z-index: 2;
	left: 0;
	top: 0;
}
.banner .captions {
	width: 50%;
	height: auto;
	position: absolute;
	transform: translateY(-50%);
	z-index: 2;
	left: 8%;
	top: 50%;
}
.pg_wrap .banner .captions {
	left: 15%;
}
.banner .captions .pg_title {
	width: auto;
	height: auto;
	letter-spacing: 3px;
	margin-bottom: 20px;
	font-family: 'RobotoLight';
	text-transform: uppercase;
	position: relative;
	font-size: 20px;
	color: #fff;
}
.banner .captions .major_caption {
	width: 100%;
	height: auto;
	font-family: 'RobotoBold';
	text-transform: uppercase;
	position: relative;
	font-size: 45px;
	color: #fff;
}
.pg_wrap .banner .captions .major_caption {
	margin-left: 5%;
}
.banner .captions .minor_caption {
	width: 80%;
	height: auto;
	line-height: 1.2;
	margin-top: 10px;
	letter-spacing: 1px;
	font-family: 'RobotoLight';
	text-transform: uppercase;
	position: relative;
	font-size: 20px;
	color: #fff;
}
.hm_cast_hld {
	width: 15%;
	height: auto;
	z-index: 5;
	position: absolute;
	bottom: 25%;
	right: 8%;
}
.sub_title {
	font-size: 18px;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-family: 'RobotoLight';
	position: absolute;
	color: #fff;
	top: -40px;
	z-index: 3;
	left: 0;
}
.bnr {
	width: 100%;
	height: auto;
	border: 5px solid #eaeaea;
}
.bnr .item {
	width: 100%;
	height: 100px;
	opacity: 0.7;
	background-size:cover;
	position: relative;
}
.bnr .item span {
	width: 30%;
	font-size: 17px;
	letter-spacing: 0.6px;
	font-family: 'RobotoReg';
	display: inline-block;
	position: absolute;
	color: #fff;
	left: 10px;
	bottom: 5px;
}

.cta {
	width: auto;
	height: auto;
	margin-top: 35px;
	display: inline-block;
	background-color: #dc2d30;
	position: relative;
	text-align: center;
	transition: all 0.4s ease;
}
.cta.rd_pad {
	margin-top: 20px;
}
.pg_wrap .cta {
	margin-top: 20px;
	position: absolute;
	right: 4%;
}
.cta a {
	width: 100%;
	height: auto;
	font-size: 16px;
	position: relative;
	display: inline-block;
	font-family: 'RobotoReg';
	text-transform: uppercase;
	color: #fff;
	padding: 10px 20px;
	z-index: 3;
}
.cta:before {
	content: "";
	width: 0;
	height: 40px;
	transition: all 0.4s ease;
	background-color: #9a1f21;
	position: absolute;
	z-index: 1;
	right: 0;
	top: 0;
}
.cta:hover:before{
	width:100%;
	right: auto;
	left: 0;
	top: 0;
}
.social {
	width: auto;
	z-index: 5;
	position: absolute;
	bottom: 10%;
	left: 8%;
}

.social .soc_text {
	width: auto;
	color: #fff;
	font-size: 14px;
	position: relative;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	font-family: 'RobotoLight';
	display: inline-block;
	margin-right: 30px;
}
.social .soc_text:after {
	content: '';
	width: 20px;
	height: 1px;
	margin-left: 14px;
	position: absolute;
	transform: translateY(-50%);
	background-color: #fff;
	top: 50%;
}
.social a {
    font-size: 12px;
    text-decoration: none;
    transition: all 0.4s cubic-bezier(1, 0, 0, 1);
    margin-left: 15px;
    width: auto;
    height: auto;
    color: #fff;
}
.social a.fa-facebook-f:hover {
    color: #f9f8f8;
}
.social a.fa-twitter:hover {
    color: #f9f8f8;
}
.social a.fa-instagram:hover {
    color: #f9f8f8;
}

/*ABOUT PAGE*/
.section .inner_wrap .pg_hd {
	color: #000;
	font-size: 20px;
	position: relative;
	letter-spacing: 3px;
	text-transform: uppercase;
	font-family: 'RobotoReg';
	margin-bottom: 20px;
}
.section .inner_wrap .v_pg_wrap {
	width: 55%;
	height: 50vh;
	position: relative;
	display: inline-block;
	vertical-align: middle;
}
.section .inner_wrap .v_pg_wrap video {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	left: 0;
	top: 0;
}
.section .inner_wrap .cmt_sec {
	width: 39%;
	height: auto;
	padding-left: 10%;
	display: inline-block;
	vertical-align: middle;
}
.cmt_slide {
    width: 100%;
    height: auto;
    position: relative;
}
.cmt_slide .flexslider {
	width: 100%;
	height: auto;
	max-height: 20vh;
	overflow: hidden;
}
.cmt_slide .flexslider .slides li {
	width: 100%;
	height: 18vh;
	max-height: 20vh;
	position: relative;
}
.flexslider-container {
	position: relative;
}
.cmt_slide .flexslider .slides li .cmt_text {
	color: #5a5b5c;
	font-size: 19px;
	line-height: 1.4;
	position: relative;
	letter-spacing: 0.4px;
	font-family: 'RobotoBold';
	margin-bottom: 10px;
}
.cmt_slide .flexslider .slides li .cmt_author {
	color: #dc2d30;
	font-size: 14px;
	position: absolute;
	letter-spacing: 0.4px;
	text-transform: uppercase;
	font-family: 'RobotoReg';
	bottom: 0;
	left: 0;
}
.cmt_slide .flexslider .slides li .cmt_author:before {
	content: '';
	width: 40px;
	height: 1px;
	background-color: #5a5b5c;
	position: absolute;
	top: -10px;
	left: 0;
}
.sec_dark {
	background-color: #181818;
}

.section .inner_wrap .left-col,
.section .inner_wrap .right-col {
	width: 50%;
	float: left;
}
.section .inner_wrap .left-col .col_photo {
	width: 80%;
	height: 97vh;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}
.right-col .row-f .row_mjr_cap {
	width: 100%;
	color: #dc2d30;
	font-size: 55px;
	line-height: 1;
	position: relative;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	font-family: 'RobotoBold';
	margin-bottom: 25px;
}
.right-col .row-f .row_mnr_cap {
	width: 100%;
	font-size: 17px;
	position: relative;
	line-height: 1.4;
	letter-spacing: 0.5px;
	font-family: 'RobotoReg';
	margin-bottom: 25px;
}
.right-col .row-f .row_mnr_cap.text_white {
	color: #f8f8f8;
	font-size: 19px;
	letter-spacing: 0.7px;
}
.right-col .row-f .row_mnr_cap p:nth-child(n+2) {
	margin-top: 15px;
}
.right-col .row-s .sec_row_f {
	width: 60%;
	vertical-align: middle;
	display: inline-block;
}
.right-col .row-s .sec_row_f .sld {
	width: 100%;
	height: 28vh;
	background-size: cover;
	background-origin: top;
	background-position: center;
	background-repeat: no-repeat;
}
.right-col .row-s .sec_row_s {
	width: 39%;
	vertical-align: middle;
	display: inline-block;
	padding-left: 40px;
	right: 0;
}
.mv_det {
	margin-top: 35px;
}
.mv_det .mv_row {
	width: 47%;
	float: left;
}
.mv_det .mv_row:nth-child(2n) {
	margin-left: 6%;
}
.mv_det .mv_row:nth-child(n+3) {
	margin-top: 30px;
}
.mv_det .mv_row:last-child {
	width: 100%;
}
.mv_det .mv_row .mv_hd {
	color: #5a5b5c;
	font-size: 18px;
	position: relative;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-family: 'RobotoBold';
	margin-bottom: 5px;
}
.mv_det .mv_row .mv_text {
	color: #000;
	font-size: 17px;
	line-height: 1.4;
	position: relative;
	letter-spacing: 0.5px;
	font-family: 'RobotoReg';
}


/*STORY PAGE*/
.banner {
    width: 100%;
    height: 100vh;
    position: relative;
}
.flexslider {
	width: 100%;
	height: 100vh;
	max-height: 100vh;
	overflow: hidden;
}
.flexslider .slides li {
	width: 100%;
	height: 100vh;
	max-height: 100vh;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
    background-position: top;
}
.flexslider .slides li .overlay {
	width: 100%; 
	height: 100vh;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.5);
	left: 0;
	top: 0;
}
.flexslider-container {
	position: relative;
}
.flex-caption {
	width: 55%;
	height: auto;
	overflow: hidden;
	position: absolute;
	z-index: 1;
	left: 15%;
	top: 35%;
}
.flex-caption .slide_header span {
	margin-left: 25px;
}
.flex-caption .slide_header, 
.flex-caption .slide_desc {
	color: #fff;
	position: relative;
	letter-spacing: 1.5px;
	text-transform: uppercase;
}
.flex-caption .slide_header {
	font-size: 20px;
	line-height: 1;
	letter-spacing: 3px;
    margin-bottom: 20px;
	font-family: 'RobotoLight';
}
.flex-caption .slide_desc {
	width: 90%;
	left: 5%;
	font-size: 45px;
	font-family: 'RobotoBold';
}
.flexslider li .flex-caption .slide_header,
.flexslider li .flex-caption .slide_desc {
	animation-duration: .9s;
	animation-fill-mode: both;
	animation-name: fadeOutLeft;
}
.flexslider li.flex-active-slide .flex-caption .slide_header ,
.flexslider li.flex-active-slide .flex-caption .slide_desc {
	animation-duration: .9s;
	animation-fill-mode: both;
	animation-name: fadeInLeft;
}
.flexslider li.flex-active-slide .flex-caption .slide_header {
	animation-delay: .5s;
}
.flexslider li.flex-active-slide .flex-caption .slide_desc {
	animation-delay: .7s;
}
.flex-direction-nav {
	display: block;
}
/*FOOTER*/
.footer {
	padding: 60px 8%;
}
.footer .col {
	float: left;
}
.footer .col:nth-child(1) {
	width: 40%;
}
.footer .col:nth-child(2) {
	width: 35%;
}
.footer .col:nth-child(3) {
	width: 25%;
}
.footer .ft_hd {
	color: #000;
	font-size: 14px;
	position: relative;
	letter-spacing: 3px;
	text-transform: uppercase;
	font-family: 'RobotoBold';
	margin-bottom: 20px;
}
.in_row {
	width: 100%;
	display: block;
	position: relative;
}
.in_row .tgroup:nth-child(2) {
	margin-top: 20px;
}
input {
	width: 80%;
	outline: none;
	background-color: #fff;
	border: 0;
    border-bottom: 1px solid #eaeaea;
    padding: 12px 0px;
    box-sizing: border-box;
}
input:focus,
textarea:focus {
	outline: none;
}
textarea {
    width: 80%;
	height: auto;
	border: 0;
    resize: vertical;
    padding: 12px 0px;
    box-sizing: border-box;
    border-bottom: 1px solid #eaeaea;
    background-color: #fff;
}
::placeholder { 
    font-size: 15px;
	font-family: 'RobotoLight';
	letter-spacing: 1px;
	color: #ccc; 
}
.in_row p,
.in_row p a {
	color: #5a5b5c;
	font-size: 16px;
	line-height: 1.4;
	position: relative;
	letter-spacing: 0.6px;
	font-family: 'RobotoReg';
}
.in_row p:nth-child(n+2) {
	margin-top: 15px;
}
.ft_social a {
    font-size: 14px;
    text-decoration: none;
    transition: all 0.4s cubic-bezier(1, 0, 0, 1);
    margin-right: 15px;
    width: auto;
    height: auto;
    color: #5a5b5c;
}
.ft_social a.fa-facebook-f:hover {
    color: #dc2d30;
}
.ft_social a.fa-twitter:hover {
    color: #dc2d30;
}
.ft_social a.fa-instagram:hover {
    color: #dc2d30;
}
.ft_social .copyright {
	font-size: 15px;
	margin-top: 55px;
	line-height: 1.3;
	letter-spacing: 1px;
    width: auto;
    height: auto;
    color: #5a5b5c;
}
/*CAST & CREW*/
.cast_hld {
    width: 32%;
    height: 75vh;
    position: relative;
    background: #000;
    float: left;
}
.cast_hld:nth-child(3n), 
.cast_hld:nth-child(3n-1) {
    margin-left: 2%;
}
.cast_hld:nth-child(n+4) {
    margin-top: 20px;
}
.cast_hld .cast_photo {
    width: 100%;
    height: 100%;
    opacity: 0.7;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.5s ease;
}
.cast_hld:hover .cast_photo {
	opacity: 0.3;
}
.cast_hld .cast_det {
    width: 100%;
	height: 100%;
	padding: 55vh 10% 0;
	transition: all 0.7s ease;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}
.cast_hld:hover .cast_det {
	padding: 10vh 10% 0;
}
.cast_hld .cast_det .cast_name {
	width: 100%;
	position: relative;
	letter-spacing: 1px;
	margin-bottom: 3px;
    text-transform: uppercase;
    font-family: 'RobotoBold';
	font-size: 26px;
	color: #fff;
}
.cast_hld .cast_det .cast_name:before {
    content: '';
    width: 30%;
    height: 2px;
    position: absolute;
    left: 0;
    top: -15px;
    background-color: #dc2d30;
    transition: all 0.5s cubic-bezier(0.4,0,0.2,1);
}
.cast_hld .cast_det .cast_fnc {
	width: 100%;
	letter-spacing: 1.5px;
	text-transform: uppercase;
    font-family: 'RobotoReg';
	font-size: 14px;
	color: #fff;
}
.cast_hld .cast_det .cast_text {
	position: absolute;
	top: 22vh;
	left: 10%;
	right: 10%;
	bottom: 10vh;
	overflow: hidden;
}
.cast_hld .cast_det .cast_text p {
	width: 100%;
	opacity: 0;
	display: none;
	transition: all 2.7s ease;
	letter-spacing: 0.5px;
	line-height: 1.5;
    font-family: 'RobotoReg';
	font-size: 17px;
	color: #ccc;
}
.cast_hld .cast_det .cast_text p:nth-child(n+2) {
	margin-top: 10px;
}
.cast_hld:hover .cast_det .cast_text p {
	display: block;
	opacity: 1;
}

/*GALLERY*/
.g_hld .inner_wrap a {
	display: inline-block;
}
.section .inner_wrap .g_img_hld {
	float: left;
	position: relative;
	margin-left: 2%;
}
.section .inner_wrap .g_img_hld .g_photo {
	width: 100%;
	height: 100%;
	position: relative;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.section .inner_wrap .g_img_hld:nth-child(1) {
	width: 30%;
	height: 93vh;
	margin-left: 0;
}
.section .inner_wrap .g_img_hld:nth-child(2) {
	width: 35%;
	height: 50vh;
}
.section .inner_wrap .g_img_hld:nth-child(3) {
	width: 31%;
	height: 50vh;
}
.section .inner_wrap .g_img_hld:nth-child(4) {
	width: 68%;
	height: 40vh;
}
.section .inner_wrap .g_img_hld:nth-child(5) {
	width: 50%;
	height: 45vh;
	margin-left: 0;
	margin-bottom: 25px;
}
.section .inner_wrap .g_img_hld:nth-child(6) {
	width: 48%;
	height: 45vh;
	margin-bottom: 10vh;
}
.section .inner_wrap .g_img_hld:nth-child(n+7) {
	display: none;
}
.section .inner_wrap .g_img_hld:nth-child(n+4) {
	margin-top: 3vh;
}
.g_hld .inner_wrap {
	position: relative;
}
.g_btn {
	margin-top: 0;
	transform: translateX(-50%);
	position: absolute;
	bottom: 0;
	left: 50%;
}
.section .inner_wrap .item {
	width: 100%;
	height: 75vh;
	position: relative;
}
.section .inner_wrap .item video {
	width: 100%;
	height: 90%;
	object-fit: cover;
	position: absolute;
	left: 0;
	top: 0;
}
.section .inner_wrap .item video:hover {
	cursor: pointer;
}
.section .inner_wrap .item .v_cap {
	letter-spacing: 2px;
	font-family: 'RobotoBold';
	text-transform: uppercase;
	font-size: 14px;
	color: #dc2d30;
	z-index: 4;
	position: absolute;
	bottom: 10px;
	left: 0;
}
.section .inner_wrap .item .overlay {
	width: 100%;
	height: 100%;
	z-index: 2;
	position: absolute;
	background: rgba(0, 0, 0, 0.4);
	left: 0;
	top: 0;
}
